body
{
  font-family: "Lucida Grande", "Arial", Serif;
}
h1{
  font-size: 20px;
  background-color: #eeeeee;
  padding: 15px;
  color: #666666;
}
h2{
  font-size: 22px;
  margin-bottom: 3px;
}
.instructions {
  padding: 10px 15px 10px 15px;
  background-color: #FFBA24;
  color: #000000;
  height: 60px;
}
.map{
  top: 14px;
  margin-top: 20px;
}
.roomlisting{
  background-color: #eeeeee;
  padding: 15px;
}
.roomnum-table{
  text-align: left;
}
.floorheaders{
  padding: 3px;
  font-size: 14px;
  background-color: #333333;
  color: #cccccc;
}
.nametag{
  padding: 2px 5px;
  background-color: #2ED195;
  font-size: 12px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-right: 5px;
  display: inline-block;
}
.moretag{
  padding: 2px 5px;
  background-color: #666666;
  font-size: 11px;
  color: #cccccc;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
}
.moretag:hover{
  cursor: pointer;
}
span.rank{
  color: #ffffff;
  margin-right: 3px;
}
td{
  padding: 2px;
}
th{
  text-align: left;
  font-weight: bold;
  padding: 2px;
}
tr:hover{
  background-color: #ffffff;
}
tr{
  border-bottom: 1px solid #dddddd;
  padding: 5px;
}
.floorbtn{
  text-align: center;
  background-color: #FFD829;
  height: 60px;
  padding: 24px;
  position: absolute;
  border-left: #ffffff 1px solid;
  color: #A68C16;
}
.floorbtn:hover{
  opacity: 0.8;
  cursor: pointer;
}
em{
  font-family: "arial";
  font-weight: 900;
  color: #000000;
}
a{
  text-decoration: none;
}
tr a, tr a:visited{
  font-weight: bold;
  color: #666666;
  padding: 5px;
}
tr a:hover{
  color: #999999;
}
#footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
  color: #cccccc;
  background-color: #333333;
  padding: 10px;
  z-index: 99;
}
#shortcuts{
  float: right;
}
#shortcuts a, #shortcuts a:visited{
  text-decoration: none;
  color: #cccccc;
  background-color: #555555;
  padding: 4px;

}
#shortcuts a:hover{
  color: #ffffff;
  background-color: #777777;
}
.choiceRoomBtn{
  padding: 3px;
  color: #ffffff;
  background-color: #FFBA24;
  border: 1px solid #FFBA24;

  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  margin-left: 5px;
}
.choiceRoomBtn:hover{
  cursor: pointer;
  opacity: 0.6;
}
.chooseroombtnlist{
  display: none;
}