body
{
  font-family: "Lucida Grande", "Arial", Serif;
}
h1{
  font-size: 30px;
  background-color: #eeeeee;
  padding: 15px;
  color: #666666;
}
h2{
  font-size: 22px;
  margin-bottom: 3px;
}
.instructions {
  padding: 10px 15px 10px 15px;
  background-color: #FFBA24;
  color: #ffffff;
}
.map{
  border: #dddddd 1px solid;
}
.roomlisting{
  background-color: #eeeeee;
  padding: 15px;
}